.citation {
    padding-right: 10px;

    h4 {
        margin-top: -5px;
        padding: 0;
    }

    p {
        color: #848484;
        margin-block-start: 0px;
        margin-block-end: 5px;
        font-family: "OpenSansLightItalic";
        font-weight: normal;
    }

    h5 {
        margin-block-start: 0px;
        margin-block-end: 15px;

        .show-abstract {
            font-family: "OpenSansLightItalic";
            font-weight: normal;
            font-size: 19px;

            /* button overrides */
            background-color: rgb(250, 250, 250);
            border: 0;
            padding: 0;

            &:hover {
                cursor: pointer;
            }
        }
        
        
    }

    &-doi  {
        font-family: "OpenSansLightItalic";
        font-weight: normal;
        margin-block-end: 2px;
    }

    &-abstract {
        margin-top: -10px;
        margin-bottom: 10px;

        &-hide {
            display: none;
        }
    }
}