.citation {
    padding-right: 10px;

    h4 {
        margin-top: -5px;
        padding: 0;
    }

    p {
        color: #848484;
        margin-block-start: 0px;
        margin-block-end: 5px;
        font-family: "OpenSansLightItalic";
        font-weight: normal;
    }

    h5 {
        margin-block-start: 0px;
        margin-block-end: 0px;

        .show-abstract {
            font-family: "OpenSansLightItalic";
            font-weight: normal;
            font-size: 19px;
            color: #4a4a4a;

            /* button overrides */
            background-color: rgb(250, 250, 250);
            border: 0;
            padding: 0;

            &-icon {
                color: #cfcfcf;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &-doi  {
        font-family: "OpenSansLightItalic";
        font-weight: normal;
        margin-block-end: 2px;
        color: #848484;

        @media screen and (max-width: 500px) {
            overflow-wrap: anywhere;
        }
    }

    &-abstract {
        margin-top: 0px;
        margin-bottom: 0px;

        &-hide {
            display: none;
        }
    }
}