.subtitle {
    font-size: 13px;
    color: #848484;
}

.detail {
    display: grid;
    grid-template-columns: 2fr 10fr;

    &-badge {
        margin-top: 4px;
    }

    .description {
        margin-top: 0px;
        margin-left: 3.5px;
        
        p {
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }
}

.publication-url {
    background: url(../img/dotted.png) bottom left repeat-x;
}

.venue {
    font-family: "OpenSansLightItalic";
    padding-left: 0.5em;
    color: #848484;
}

.papers-title {
    margin-top: 10px;
}