.event-link {
    margin-top: 0px;
    margin-bottom: -15px !important;
}

.event-venue {
    font-family: "OpenSansLightItalic";
    font-size: 19px;
    margin-bottom: 5px;

    a:hover {
        color: #848484 !important;
    }
}

.event-date {
    font-family: "OpenSansLightItalic";
    margin: 0;
    padding-bottom: 5px;
    color: #848484;
}

h3.event-projects {
    margin-top: 40px;
}