.person-category {
    font-size: 13px;
    color: #848484;
}

.person-details {
    display: grid;
    grid-template-columns: 2fr 10fr;

    .badge {
        margin-top: 4px;
    }

    .description {
        margin-top: 0px;
        margin-left: 10px;

        p {
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }
}

.venue {
    font-family: "OpenSansLightItalic";
    padding-left: 0.5em;
    color: #848484;
}
