.gallery {
    margin-top: -10px;

    &-header {
        display: flex;
        align-items: baseline;

        &-titles {
            flex: 630px;
            display: flex;
            align-items: baseline;

            @media screen and (max-width: 640px) {
                flex: 100%;
                flex-direction: column;
            }
            @media screen and (max-width: 1024px) {
                flex: 100%;                
            }

            .image-title {
                padding-left: 1em;
                @media screen and (max-width: 640px) {
                    padding-left: 0;
                    padding-bottom: 10px;
                    margin-top: -15px;                    
                }
            }
        }

        .image-download-link {
            flex: auto;
            white-space: nowrap;

            display: inline-block;
            padding: 0 .5em 0 .5em;
            line-height: 30px;

            background: linear-gradient(to bottom, #fff, #eae9e9);
            box-shadow: 0 1px 1px rgba(2, 28, 0, 0.5);
            border-radius: 7px;
            border: 0;            

            font-family: "AlternateGothicFSNo3", sans-serif;
            font-size: 16px;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
            color: #4a4a4a;
            text-shadow: #fff 1px 1px 0px;

            &:hover {
                color:#848484 !important;
                cursor: pointer;
            }
        }
    }

    &-main {
        width: 780px;
        margin-bottom: 1px;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }

        img {
            border-radius: 4px;
            //width: 780px;
            width: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &-thumbnails {
        display: flex;
        flex-wrap: wrap;
        background-color: #e1e1e1;
        border-radius: 4px;
        width: 780px;
        margin-bottom: -7px;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }

        // Remove the thumbnails on mobile
        @media screen and (max-width: 768px) {
            display: none;
        }

        .thumbnail {
            border: 0;
            padding: 0 0 3px 0;
            background-color: #e1e1e1;

            &:first-child {
                margin-left: 0.5em;
            }

            img {
                height: 60px;
                border-radius: 4px;
                &:hover {
                    cursor: pointer;
                    filter: grayscale(100%);
                    opacity: 0.35;
                }

                transition: all 0.3s;
            }

            .selected {
                filter: grayscale(100%);
                opacity: 0.35;
            }
        }
    }
}