.projectBoxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 960px;

    .projectItem {
        width: 140px;
        height: 181px;

        .projectBadge {
            img {
                width: 140px;
                height: 140px;
                border-radius: 4px;
            }
            
            &-title {
                font-family: "OpenSansLightItalic";
                font-weight: normal;
                color: #4a4a4a;

                margin-top: -1px;

                span {
                    cursor: pointer;
                    background: url(../../img/dotted.png) bottom left repeat-x;
                }
                
            }
        }
    }
}