.event {
    width: 780px;

    @media screen and (max-width: 1024px) {
        width: auto;
    }

    &-link {
        margin-top: 0px;
        margin-bottom: -15px !important;
    }

    &-venue {
        font-family: "OpenSansLightItalic";
        font-size: 19px;
        margin-bottom: 5px;

        a:hover {
            color: #848484 !important;
        }
    }

    &-date {
        font-family: "OpenSansLightItalic";
        margin: 0;
        padding-bottom: 5px;
        color: #848484;
    }
}

.event-projects {
    margin-top: 40px;
}
