#footer {
    background-image: url(../../img/footer.jpg);
    height: 95px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 2px 0px;
    width: 1042px;
    margin-top: 17px;

    color: #fff;
    font-family: "AlternateGothicFSNo3";
    text-transform: uppercase;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;

    .navbar {
        list-style-type: none;
        display: flex;
        font-size: 12px;
        position: absolute;
        top: 0px;
        left: 560px;

        margin-top: 0px;

        li {
            flex: 1 1 auto;

            a {
                color: #fff;
                opacity: .8;

                &:hover {
                    opacity: 1;
                }
            }

            .active {
                color: #904c0b;
                background-color: transparent;
            }
        }
    }

    .accessibility {
        position: absolute;
        top: 21px;
        left: 827px;
        font-size: 14px;

        a {
            color: #fff;
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }

    }
}