#footer {
    background-image: url(../../img/footer.jpg);
    height: 95px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 2px 0px;
    width: 1042px;
    margin-top: 17px;

    color: #fff;
    font-family: "AlternateGothicFSNo3";
    text-transform: uppercase;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;

    @media screen and (max-width: 500px) {
        background-image: none;
        background: linear-gradient(to right, #cf6229, #d79928);
        width: auto;
        height: 100%;
        grid-template-columns: 5fr 5fr;
        line-height: 2em;
    }
    @media screen and (min-width: 500px) and (max-width: 1024px) {
        background-image: none;
        background: linear-gradient(to right, #cf6229, #d79928);
        width: auto;
        grid-template-columns: 3fr 9fr;
        line-height: 2em;
        
    }

    .org-name {
        line-height: 1em;
        // Suppress for desktop
        display: none;

        @media screen and (max-width: 1024px) {
            display: block;
            font-size: 14px;
            padding: 10px;
        }
    }

    .navbar {
        list-style-type: none;
        display: flex;
        font-size: 12px;
        position: absolute;
        top: 0px;
        left: 560px;

        margin-top: 0px;

        @media screen and (max-width: 500px) {
            position: relative;
            flex-direction: column;
            left: auto;
            font-size: 16px;
            margin-bottom: 0px;
        }
        @media screen and (min-width: 500px) and (max-width: 1024px) {
            left: inherit !important;
            right: 5%;
        }

        li {
            flex: 1 1 auto;

            a {
                color: #fff;
                opacity: .8;

                &:hover {
                    opacity: 1;
                }
            }

            .active {
                color: #904c0b;
                background-color: transparent;
            }
        }
    }

    .accessibility {
        position: absolute;
        top: 21px;
        left: 827px;
        font-size: 14px;

        @media screen and (max-width: 500px) {
            position: relative;
            left: 0px;
            top: 0px;
            font-size: 16px;
            padding: 10px;
        }
        @media screen and (min-width: 500px) and (max-width: 1024px) {
            left: inherit !important;
            right: 5%;
        }

        a {
            color: #fff;
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }

    }
}