.two-column {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;

    @media screen and (max-width: 500px) {
        grid-template-columns: 100%;
    }

    .column {
        padding-right: 10px;
    }

    h3 {
        margin-top: 10px;
    }

    .textblock {
        margin-top: 0;
        margin-bottom: 20px;
    }

    a {
        background: url(../img/dotted.png) bottom left repeat-x;
    }
}

.dotted {
    background: url(../img/dotted.png) bottom left repeat-x;
}

.vision-link {
    color: #787878;

    &:visited {
      color: #787878 !important;
    }

    &:hover {
        color: #949494 !important;
    }
}

.box {
    padding: 7px 10px 7px 10px;
    background-color: #e1e1e1;
    border-radius: 4px;
    margin-bottom: 20px;

    strong {
        font-family: "OpenSansBold";
        font-weight: normal;
    }
}

.contact {
    margin-bottom: 20px;
}

.contact-link {
    font-family: "OpenSansLightItalic";
    background: url(../img/dotted.png) bottom left repeat-x;
}