.featured-projects {
    margin-top: 41px;

    & .carousel {
        @media screen and (max-width: 500px) {
            padding-left: -10px;
        }
    }

    & .carousel__slide {
        @media screen and (max-width: 500px) {
            scale: 0.375;
        }
    }

    .more-projects {
        margin-top: 41px;
    }

}