.half-column {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }

}

.text-block {
    margin: 10px;

    h3.box {
        padding: 7px 10px 7px 10px;
        background-color: #e1e1e1;
        border-radius: 4px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    p {
        margin-bottom: 20px;
    }
}
