.vision-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;

    h2.vision-text {
        font-size: 32px;
        line-height: 40px;
        padding-right: 60px;
    }
}

.vision-text {
    
}