.people {

    .temp-spacer {
        height: 0px;
        margin-top: -19px;
    }

    .category-title {
        margin-block-start: 39px;
        margin-block-end: 0px;
    }

    &-list {
        display: grid;
        grid-template-columns: 480px 460px;
        padding-right: 0px;

        .person {
            display: flex;
            margin-top:20px;
            height: 140px;

            .description {
                margin-top: -3px;
                margin-left: 20px;
                margin-right: 20px;

                h4 {
                    font-size: 27px;
                    margin-top: 0px;
                }

                div {
                    font-family: "OpenSansLightItalic";
                    font-weight: normal;
                }
            }

            img {
                margin-top: 2px;
                width: 140px;
                height: 140px;
                border-radius: 4px;
            }
        }
    }

    .alumni-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 960px;

        .alumnus {
            display: flex;
            margin-bottom: 20px;

            img {
                width: 60px;
                height: 60px;
                border-radius: 4px;
            }

            &-details {
                margin-left: 20px;

                h4 {
                    margin-block-start: 0px;
                }

                .subcategory {
                    font-family: "OpenSansLightItalic";
                    color: #848484;
                }
            }
        }
    }
}
