.projects {
    position: relative;

    &-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 960px;
        /* Define a bunch of breakpoints for the project grid so it adapts smoothly through different sizes and aspects */
        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }
        @media screen and (min-width: 500px) and (max-width: 610px) {
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
        }
        @media screen and (min-width: 610px) and (max-width: 800px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 100%;
        }
        @media screen and (min-width: 800px) and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            width: 100%;
        }
    }

    &-search {
        position: absolute;
        right: 140px;
        top: -60px;

        font-family: "OpenSansRegular", sans-serif;
        font-size: 13px;
        padding: 0 .5em 0 .5em;
        height: 32px;

        line-height: 1.65em;

        @media screen and (max-width: 500px) {
            right: 10px;
            top: -60px;
        }

        &::placeholder {
            color: #818181;
        }
    }

    &-year {
        margin-top: 10px;
    }

}