.yearNav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px 0 5px;

    background-color: #e1e1e1;
    border-radius: 4px;
    margin-bottom: 30px;
    list-style-type: none;
    font-family: "AlternateGothicFSNo3", sans-serif;

    li {

        margin: 5px 0 5px 0;

        .year, %year {
            display: inline-block;
            padding: 0 .5em 0 .5em;
            line-height: 30px;
            border: 0;
            
            font-family: inherit;
            font-size: 100%;
            text-transform: none;
            background-color: #e1e1e1;
            color: #4a4a4a;

            font-size: 16px;
            text-shadow: #fff 1px 1px 0px;

            &:hover {
                color:#848484 !important;
                cursor: pointer;
            }

            &:focus {
                outline: 0em;
            }

            &-selected {
                @extend %year;

                color: #848484 !important;
                background: linear-gradient(to bottom, #fff, #eae9e9);
                border-radius: 7px;
                box-shadow: 0 1px 1px rgba(2, 28, 0, 0.5);

                &:visited {
                    color: #848484 !important;
                }
            }
        }

        .prevNext {
            @extend %year;
        }
    }
}
