.vision-statement {
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin-top: 20px;

    h2.vision-text {
        font-size: 32px !important;
        line-height: 40px !important;
        padding-top: 0px;
        padding-right: 60px;

        margin-top: 20px;
    }

    .illustration {
        
        &-slides {
            width: 300px;
            position: relative;

            .slide-img {
                width: 300px;
                height: 300px;
                border-radius: 4px;

                /*transitions*/
                &-enter {
                    opacity: 0;

                    &-active {
                        opacity: 1;
                        transition: opacity 200ms;
                    }
                }

                &-exit {
                    opacity: 1;

                    &-active {
                        opacity: .9;
                        transition: opacity 200ms;
                    }
                }                

            }
            
            %labels {
                color: #ddd;
                font-size: 11px;
                font-family: "OpenSansLightItalic";
                position: absolute;
                text-align: center;
                width: 100%;
            }

            .atoms {
                @extend %labels;
                top: 2px;
            }

            .bits {
                @extend %labels;
                top: 234px;
            }

            .slides-nav {
                position: absolute;
                top: 260px;
                width: 300px;
                height: 40px;
                background-image: url(../../img/vision-header.png);
                background-repeat: no-repeat;
                background-position: center;

                &-item, %nav-item {
                    color: white;
                    font-size: 16px;
                    height: 30px;
                    font-family: "AlternateGothicFSNo3";
                    text-shadow: #444 1px 1px 0px;
                    -webkit-font-smoothing: antialiased;
                    font-weight: bold;
                    background-color: transparent;
                    border: 0em;
                    padding-right: 30px;
                    padding-left: 30px;
                    cursor: pointer;

                    margin: 5px 6px 7px 6px;

                    &:focus {
                        outline-color: transparent;
                        outline-width: 0em;
                    }

                    &:last-child {
                        padding-left: 8px;
                        padding-right: 8px;
                        margin-left: 27px;
                        margin-right: 0px;
                    }

                    &-selected {
                        @extend %nav-item;
                        border-radius: 7px;
                        background: linear-gradient(to bottom, #8da3b1, #748591);
                        box-shadow: 0 1px 1px rgba(2, 28, 0, 0.5);
                    }
                }
            }
        }

        &-caption {
            min-height: 105px;
            margin-top: 5px;
            font-family: "OpenSansLightItalic";
            color: #848484;

            strong {
                font-family: "OpenSansBoldItalic";
            }
            
            /*transitions*/
            &-enter {
                opacity: 0;

                &-active {
                    opacity: 1;
                    transition: opacity 200ms;
                }
            }

            &-exit {
                opacity: 1;

                &-active {
                    opacity: 0;
                    transition: opacity 200ms;
                }
            }
        }
    }
}
