.vision-text {
    font-size: 23px !important;
    line-height: 30px !important;
    padding-top: 0px;
    padding-right: 60px;

    margin-top: 20px;
    @media screen and (max-width: 500px) {
        font-size: 20px !important;
        line-height: 30px !important;
        padding-right: 0px;
    }
}